@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #DAD7CD;

    font-family: 'Stylish', sans-serif;
}

#content{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;


    background-image: url("backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(#3A5A40,#588157); */
}

#header{
    height: 10%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#footer{
    height: 5%;
}

#main{
    flex: auto;
    display: flex;
    justify-content: center;

}

#blurb{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(#3a5a4000, #58815785, #3a5a4000);

    width: 35%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#blurb > h2{
    font-size: 40px
}

#blurb > p{
    margin-top: 1rem;
    font-size: 30px;
}

#menu-bar{
    margin-left: auto;
    margin-right: 3rem;
}

#menu-bar > button{
    width: 100px;
    height: 2em;
    border-radius: 20px;
    background-color: transparent;
    border-color: #DAD7CD;

    border-style: solid;
    font-size: 20px;
}

#menu-bar > button:hover{
    border-color: gold;
}

#menu-bar > button:active{
    transform:scale(0.7);
}

#menu{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.menu-item{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu-item > img{
    width: 200px;
    border-radius: 100px;
}

.description{
    margin-left: 50px;
    background-color: #588157ad;
    font-size: 20px;
}

#about{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#2b442ae1, #3a5a4000);
    margin-top: 2rem;
}
#about > div{
    margin-bottom: 1rem;
}

iframe{
    width: 250px;
    height: 250px;
}

